<div class="row">
  <div class="col-lg-offset-2 col-md-offset-1 col-xs-12 col-md-10 col-sm-10 col-lg-8">
    <form accept-charset="UTF-8" action="/usuarios<%= usuario._id ? '/' + usuario._id : '' %>" method="post">
        <% if (usuario._id) { %>
          <input type="hidden" name="_method" value="PUT">
          <input type="hidden" name="usuario[_id]" value="<%= usuario._id %>">
        <% } %>
        <%- formularios.campo('usuario', 'nombres', 'texto', usuario, error, {
            data: {
              validaciones: 'noVacio'
            }
          }) %>
        <%- formularios.campo('usuario', 'apellidos', 'texto', usuario, error, {
            data: {
              validaciones: 'noVacio'
            }
          }) %>
        <%- formularios.campo('usuario', 'email', 'texto', usuario, error, {
            data: {
              validaciones: 'noVacio email'
            }
          }) %>
        <%- formularios.campo('usuario', 'tipo_id', 'seleccion', usuario, error, {
            label: 'Tipo de documento',
            input_class: 'chosen-select',
            opciones: {
              C: 'Cédula de ciudadanía',
              N: 'NIT',
              X: 'NN',
              P: 'Pasaporte',
              E: 'Cédula de extrangería',
              T: 'Tarjeta de identidad',
              U: 'NUIP',
              D: 'Carné diplomático'
            },
            data: {
              placeholder: 'Seleccione un tipo de documento'
            }
          }) %>
        <%- formularios.campo('usuario', 'documento', 'texto', usuario, error, {
            data: {
              validaciones:'noVacio'
            }
          }) %>
        <% if (usuario_actual.permisos.indexOf('usuarios') > -1) { %>
          <%- formularios.campo('usuario', 'permisos', 'seleccion', usuario, error, {
              multiple: 'true',
              input_class: 'chosen-select',
              opciones: {
                usuarios: 'Administrar usuarios',
                otro: '4',
                otro_mas: '5',
                suarios: 'usuarios'
              },
              data: {
                placeholder: 'Seleccione los permisos'
              }
            }) %>
        <% } %>
        <div class="row">
          <div class="col-lg-4 col-md-5 col-sm-5 col-xs-6 text-center">
            <button class="btn btn-large btn-success btn-block" type="submit"><i class="icon-check-sign"></i> Guardar</button>
          </div>
          <div class="col-lg-4 col-md-5 col-sm-5 col-xs-6 text-center">
            <a class="btn btn-large btn-danger btn-block" href="/usuarios"><i class="icon-remove-sign"></i> Cancelar</a>
          </div>
        </div>
    </form>
  </div>
</div>
