<% layout('layout') -%>
<% block('navbar', partial('_navbar', {usuario_actual: usuario_actual})) %>
<div class="row">
  <div class="col-lg-4 col-md-6 col-xs-12">
    <section>
      <div class="img-thumbnail">
        <img src="/usuarios/<%= usuario._id %>/gravatar?size=200" />
      </div>
    </section>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <section>
      <h2>Información básica</h2>
      <div>
        Nombres: <%= usuario.nombres %>
      </div>
      <div>
        Apellidos: <%= usuario.apellidos %>
      </div>
      <div>
        Correo electrónico: <%= usuario.email %>
      </div>
      <% if (usuario.tipo_id) { %>
      <div>
        Tipo de identificación: <%= usuario.tipo_id %>
      </div>
      <% } %>
      <div>
        Número de documento: <%= usuario.documento %>
      </div>
      <% if (usuario_actual.permisos.indexOf('usuarios') > -1) { %>
        <div>
          Permisos: <%= usuario.permisos.join(',') %>
        </div>
      <% } %>
    </section>
  </div>
  <div class="col-lg-4 col-md-12 col-xs-12">
    <section>
      <div>
        <h2>Otra info</h2>
      </div>
    </section>
  </div>
</div>