<% layout('../layout') -%>

<div class="row boton-agregar">
  <div class="col-lg-6 col-md-6 col-xs-12">
    <a class="btn btn-success btn-lg btn-block" href="/usuarios/new">
      <i class="icon-plus-sign"></i> Agregar nuevo usuario
    </a>
  </div>
  <div class="col-lg-6 col-md-6 col-xs-12">
    <%-partial('_paginacion', {
      total: total,
      pagina_actual: pagina_actual,
      por_pagina: 10,
      ruta: '/usuarios'
    })%>
  </div>
</div>

<div class="lista-usuarios lista-elementos row">
  <% for(var __i = 0; __i < usuarios.length; __i++) { %>
    <div class="item-lista-usuario row">
      <div class="col-lg-7 col-7">
        <span class="item-lista">
          <a href="/usuarios/<%= usuarios[__i]._id %>">
            <%= usuarios[__i].nombres + ' ' + usuarios[__i].apellidos %>
          </a>
        </span>
      </div>
      <div class="acciones-usuario acciones col-5 col-lg-5">
        <a href="<%= '/usuarios/' + usuarios[__i]._id + '/edit' %>" class="btn btn-primary btn-xs">
          <i class="icon-edit"></i> Editar
        </a>
        <% if (usuarios[__i]._id != usuario_actual._id) { %>
          <a href="<%= '/usuarios/' + usuarios[__i]._id + '?_method=DELETE' %>" class="btn btn-danger btn-xs eliminar-elemento">
            <i class="icon-trash"></i> Eliminar
          </a>
        <% } %>
      </div>
    </div>
    <hr>
  <% } %>
</div>
<div class="col-lg-offset-6 col-md-offset-6 col-lg-6 col-md-6 col-xs-12">
  <%-partial('_paginacion', {
    total: total,
    pagina_actual: pagina_actual,
    por_pagina: 10,
    ruta: '/usuarios'
  })%>
</div>