<div class="row">
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <section>
      <div class="img-thumbnail">
        <img src="/api/usuarios/<%- usuario._id %>/gravatar?size=200" />
      </div>
    </section>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <section>
      <h2>Información básica</h2>
      <div>
        Nombres: <%- usuario.nombres %>
      </div>
      <div>
        Apellidos: <%- usuario.apellidos %>
      </div>
      <div>
        Correo electrónico: <%- usuario.email %>
      </div>
      <% if (usuario.tipo_id) { %>
      <div>
        Tipo de identificación: <%- usuario.tipo_id %>
      </div>
      <% } %>
      <div>
        Número de documento: <%- usuario.documento %>
      </div>
      <% if (usuario_actual.permisos.indexOf('usuarios') > -1 &&
         usuario.permisos.length > 0) { %>
        <div>
          Permisos: <%- usuario.permisos.join(',') %>
        </div>
      <% } %>
    </section>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <section>
      <div>
        <h2>Otra info</h2>
      </div>
      <div>
        Miembro desde: <%- moment().toString(usuario.createdAt) %>
      </div>
      <% if (usuario.lastLogin) { %>
        <div>
          Último inicio de sesión <%- moment(usuario.lastLogin).fromNow() %>
        </div>
      <% } %>
    </section>
  </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <section>
      <a href="<%- '/usuarios/' + usuario._id + '/edit' %>" class="btn btn-primary btn-xs">
        <i class="icon-edit"></i> Editar
      </a>
      <% if (usuario._id != usuario_actual._id) { %>
        <a href="<%- '/usuarios/' + usuario._id + '?_method=DELETE' %>" class="btn btn-danger btn-xs eliminar-elemento">
          <i class="icon-trash"></i> Eliminar
        </a>
      <% } %>
    </section>
  </div>
</div>